#headerType {
  width: 100%;
  height: 6.1111vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: linear-gradient(#000, transparent);
}
.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
  /* background: #000; */
  color: #fff;
}

.portfolio {
  margin-top: -34px;
  margin-left: 24px;
  padding: 5px 14px;
}

.portfolio a {
  color: #fff;
}

.menu {
  margin-top: -34px;
  margin-left: 20px;
  padding: 5px 14px;
  color: #fff;
}
