.sec4 {
  padding: 16vw 2.2vw 3vw 2.2vw;
  box-sizing: border-box;
}

.sec4__inner {
  border-top: 1px dashed #000;
}

.sec4__title {
  box-sizing: border-box;
  font-size: 5.6vw;
  text-transform: uppercase;
  padding-bottom: 11vw;
}

.sec4__title em {
  padding-right: 1.4vw;
  font-size: 8vw;
  color: #fe451c;
}

.effect {
  float: right;
  font-size: 1vw;
  padding-bottom: 1.2vw;
  text-align: right;
  width: 66%;
  line-height: 1.6;
  word-break: keep-all;
  border-bottom: 1px dashed #000;
}

.effectCont__inner {
  padding: 0 11vw;
  margin-top: 30vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.effectCont {
  width: 30%;
  padding-bottom: 10vw;
}

.effectCont:nth-child(2),
.effectCont:nth-child(5),
.effectCont:nth-child(8) {
  margin-top: 8vw;
}

.effectCont .theramy {
  color: #fe451c;
  margin-top: 0.8vw;
}
