#section1 {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
  padding-top: 7vw;
  padding-bottom: 18vw;
  border-bottom: 1px dashed #fff;
  font-weight: 400;
  color: #fff;
}

.sec1__inner {
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

#canvas {
  width: 100vw !important;
  height: 80vw !important;
  position: absolute;
  top: 0;
  left: 0;
}

.title__inner {
  line-height: 0.8;
  font-weight: 800;
  margin-top: 20px;
}

.tit1,
.tit2,
.tit4 {
  font-size: 6.4vw;
  margin-left: -1.4vw;
  text-align: left;
}

.tit2 {
  text-align: right;
  margin-bottom: 30px;
}

.tit5 {
  font-size: 6.4vw;
  text-align: right;
  margin-bottom: 30px;
}

.tit3,
.tit6 {
  font-size: 6.6vw;
  color: #fe451c;
  text-transform: capitalize;
}

.tit3 {
  margin-bottom: 8vw;
}
