.sec3 {
  padding-bottom: 30vw;
  color: #fff;
}

.horizontalWrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.horizontalSection {
  overscroll-behavior: none;
  width: 460%;
  display: flex;
  flex-wrap: nowrap;
}

.sec3-1 {
  padding-top: 30vw;
  width: 100%;
  height: 100vh;
}

.sec3__inner {
  /* margin-bottom: 400px; */
  width: 100%;
  height: 100vh;
}

.sec3__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 5.6vw;
  /* margin-bottom: 30vw; */
}

.sec3__title h2 {
  position: relative;
}

.sec3__title em {
  color: #fe451c;
  margin-right: 1vw;
  font-size: 7.8vw;
}

.sec3__title .subtitle {
  /* padding-bottom: 10vw; */
  font-size: 1.2vw;
  position: absolute;
  right: 26%;
  top: 76%;
}

/* .site01,
.site02,
.site03,
.site04,
.site05 {
  margin-top: 250px;
  padding-bottom: 50px;
  background-clip: text;
  position: relative;
} */

.animated__title {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 100px 0;
}

.animated__title .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}

.backgroundText {
  font-size: 9vw;
  line-height: 1.3;
  text-align: center;
  text-align: justify;
}

.backgroundText > div:nth-child(1) {
  animation: marquee 60s linear infinite;
}

.backgroundText > div:nth-child(2) {
  animation: marquee2 60s linear infinite;
  color: #fe451c;
}

.backgroundText > div:nth-child(3) {
  animation: marquee 60s linear infinite;
}

.backgroundText > div:nth-child(4) {
  animation: marquee2 60s linear infinite;
  color: #fe451c;
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (hover: hover) and (min-width: 700px) {
  .animated-title .backgroundText {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
}

.webstandard {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 55%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.webstandard__inner {
  position: relative;
  border: 1px solid #fff;
  padding: 12vw 22vw;
  background-color: rgba(0, 0, 0, 0.94);
}

.webstandard__inner .web {
  color: #fe451c;
  font-size: 1vw;
}

.webstandard__inner h2 {
  margin-bottom: 2px;
  font-size: 3.5vw;
  font-weight: 600;
}

.webstandard__inner p {
  font-weight: 200;
  font-size: 1.1vw;
}

.webstandard__inner .detail {
  display: inline-block;
  margin-top: 6vw;
  border: 1px solid #fe451c;
  background-color: #fe451c;
  padding: 0.8vw 5vw;
}

.webstandard__inner .view {
  position: absolute;
  right: 1.6vw;
  top: 1.6vw;
  cursor: pointer;
}

.webstandard__inner .view .number {
  padding: 1vw 1.65vw;
  margin-bottom: 20px;
  font-size: 1.5vw;
  font-weight: 300;
  border: 1px solid #fff;
  border-radius: 50%;
}

.webstandard__inner .view .number.active {
  background-color: #fe451c;
}

/* canvas 배경 */
#canvas2 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
