.sec5 {
  padding: 0 2.2vw 3vw 2.2vw;
  margin-top: -20vw;
  box-sizing: border-box;
  padding-bottom: 16vw;
}

.sec5__title {
  box-sizing: border-box;
  font-size: 5.6vw;
  text-transform: uppercase;
  padding-bottom: 11vw;
}

.sec5__title em {
  padding-right: 1.4vw;
  font-size: 8vw;
  color: #fe451c;
}

.study {
  float: right;
  font-size: 1vw;
  padding-bottom: 1.2vw;
  text-align: right;
  width: 80%;
  line-height: 1.6;
  word-break: keep-all;
  border-bottom: 1px dashed #000;
}

.studyList__wrap {
  margin-top: 22vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.studyList__wrap span {
  width: 8%;
  height: 2vw;
  padding-top: 0.3vw;
  display: inline-block;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: 0.9vw;
}

.studyList__inner {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1vw;
}

.studyList__inner .studyList {
  width: 23.8%;
  height: 10vw;
  /* text-align: center; */
  border: 1px solid #000;
  /* padding-top: 2.2vw; */
  position: relative;
  font-size: 1vw;
}

.studyList .name {
  text-align: center;
  padding-top: 3.5vw;
}

.border_top::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 3%;
  width: 0.6vw;
  height: 0.03vw;
  /* height: 1.3333333333vw; */
  background-color: #fe451c;
}

.border_top::after {
  content: "";
  position: absolute;
  top: 3%;
  right: 3%;
  width: 0.6vw;
  height: 0.03vw;
  /* height: 1.3333333333vw; */
  background-color: #fe451c;
}

.border_bom::before {
  content: "";
  position: absolute;
  bottom: 3%;
  left: 3%;
  width: 0.6vw;
  height: 0.03vw;
  /* height: 1.3333333333vw; */
  background-color: #fe451c;
}

.border_bom::after {
  content: "";
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 0.6vw;
  height: 0.03vw;
  /* height: 1.3333333333vw; */
  background-color: #fe451c;
}

.border_left::before {
  content: "";
  position: absolute;
  bottom: 3%;
  left: 3%;
  width: 0.03vw;
  height: 0.6vw;
  /* height: 1.3333333333vw; */
  background-color: #fe451c;
}

.border_left::after {
  content: "";
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 0.03vw;
  height: 0.6vw;
  /* height: 1.3333333333vw; */
  background-color: #fe451c;
}

.border_right::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 3%;
  width: 0.03vw;
  height: 0.6vw;
  /* height: 1.3333333333vw; */
  background-color: #fe451c;
}

.border_right::after {
  content: "";
  position: absolute;
  top: 3%;
  right: 3%;
  width: 0.03vw;
  height: 0.6vw;
  /* height: 1.3333333333vw; */
  background-color: #fe451c;
}
