.sec3 {
  padding-bottom: 30vw;
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 100%);
}

.horizontalWrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.horizontalSection {
  overscroll-behavior: none;
  width: 640%;
  display: flex;
  flex-wrap: nowrap;
}

.sec3-1 {
  padding-top: 30vw;
  width: 100%;
  height: 100vh;
}

.sec3__inner {
  width: 100%;
  height: 100vh;
}

.sec3__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 5.6vw;
}

.sec3__title h2 {
  position: relative;
}

.sec3__title em {
  color: #fe451c;
  margin-right: 1vw;
  font-size: 7.8vw;
}

.sec3__title .subtitle {
  font-size: 1.2vw;
  position: absolute;
  right: 26%;
  top: 76%;
}

.animated__title {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 100px 0;
}

.animated__title .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}

.backgroundText {
  font-size: 9vw;
  line-height: 1.3;
  text-align: center;
  text-align: justify;
}

.backgroundText > div:nth-child(1) {
  animation: marquee 60s linear infinite;
}

.backgroundText > div:nth-child(2) {
  animation: marquee2 60s linear infinite;
  color: #fe451c;
}

.backgroundText > div:nth-child(3) {
  animation: marquee 60s linear infinite;
}

.backgroundText > div:nth-child(4) {
  animation: marquee2 60s linear infinite;
  color: #fe451c;
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (hover: hover) and (min-width: 700px) {
  .animated-title .backgroundText {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
}

.site__wrap {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 55%;
  left: 75%;
  transform: translate(-50%, -50%);
  /* z-index: 99999; */
}

.site__inner {
  position: relative;
  border: 1px solid #fff;
  padding: 12vw 22vw;
  background-color: rgba(0, 0, 0, 0.94);
}

.site__inner .web {
  color: #fe451c;
  font-size: 1vw;
}

.site__inner h2 {
  margin-bottom: 2px;
  font-size: 3.5vw;
  font-weight: 600;
}

.site__inner p {
  font-weight: 200;
  font-size: 1.1vw;
}

.site__inner .detail {
  display: inline-block;
  margin-top: 6vw;
  border: 1px solid #fe451c;
  background-color: #fe451c;
  padding: 0.8vw 5vw;
}

.site__inner .view {
  position: absolute;
  right: 1.6vw;
  top: 1.6vw;
  z-index: 10000;
  cursor: pointer;
}

.site__inner .view .number {
  padding: 1vw 1.65vw;
  margin-bottom: 20px;
  font-size: 1.5vw;
  font-weight: 300;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 10000;
  cursor: pointer;
}

.site__inner .view .number.active {
  background-color: #fe451c;
}

/* 자세히보기 */
.detail__wrap {
  display: none;
}

.detail__inner {
  width: 80%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border: 1px solid #fe451c;
}

.detail__inner img {
  width: 50%;
}

.detail__desc {
  width: 50%;
  padding: 7vw 4vw 0;
  border-left: 1px solid #fe451c;
}

.detail__desc h2 {
  font-size: 2vw;
  color: #fe451c;
  margin-bottom: 3vw;
}

.detail__desc p {
  font-size: 0.9vw;
  font-weight: 200;
  line-height: 1.6;
  margin-bottom: 4vw;
  word-break: keep-all;
}

.detail__desc .viewSite {
  font-size: 1vw;
  display: inline-block;
  background: #fe451c;
  color: #fff;
  padding: 0.6vw 3vw;
  cursor: pointer;
}
/* canvas 배경 */
#canvas2 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
