.sec4 {
  padding: 210px 40px 100px 40px;
  box-sizing: border-box;
}

.sec4__inner {
  /* height: 1000px; */
  border-top: 1px dashed #000;
}

.sec4__title {
  box-sizing: border-box;
  font-size: 90px;
  text-transform: uppercase;
  padding-bottom: 186px;
}

.sec4__title em {
  padding-right: 10px;
  font-size: 130px;
  color: #fe451c;
}

.effect {
  float: right;
  padding-bottom: 20px;
  text-align: right;
  width: 66%;
  line-height: 1.6;
  word-break: keep-all;
  border-bottom: 1px dashed #000;
}

.effectCont__inner {
  padding: 0 150px;
  margin-top: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.effectCont {
  width: 30%;
  padding-bottom: 200px;
}

.effectCont:nth-child(2),
.effectCont:nth-child(5),
.effectCont:nth-child(8) {
  margin-top: 200px;
}

.effectCont .theramy {
  color: #fe451c;
  margin-top: 10px;
}
